/* header-layout8 --------------------*/
.header-layout8 {
    .header-button {
        gap: 30px;

        @media(max-width: 1399px) {
            gap: 20px;
        }

        .th-btn {
            margin-left: 0;
        }
    }

    .icon-btn {
        --btn-size: 56px;
    }

    .info-card {
        @media(max-width: 1399px) {
            display: none;
        }
    }

    .main-menu a {
        font-weight: 700;
        font-size: 14px;
    }

    .main-menu>ul>li>a {
        padding: 36.5px 0px;
    }
}

/* header-layout 9 ------------------------ */
.header-layout9 {
    .header-top {
        background-color: $theme-color;
        --body-color: #fff;
        padding: 10px 0;
    }

    .header-social .social-title {
        font-weight: 400;
        font-size: 14px;
    }

    .header-links li,
    .header-links span,
    .header-links p,
    .header-links a {
        &:hover {
            color: $title-color;
        }
    }

    .sticky-wrapper {
        &.sticky {
            .header-logo {
                padding: 0;
                margin-left: 0px;

                @include md {
                    padding: 20px 0;
                }
            }
        }
    }

    .header-logo {
        @include md {
            padding: 20px 0;
        }
    }

    .langauge {
        .nice-select {
            font-size: 14px;
            color: $white-color;

            span {
                color: $white-color;
            }
        }


        &.lang-dropdown .dropdown-toggle {
            border: none;
            color: var(--white-color);
        }
    }

    .header-button {
        gap: 30px;

        @include lg {
            gap: 15px;
        }

        .th-btn {
            margin: 0;
        }
    }

    .icon-btn {
        --btn-size: 56px;
        background-color: $title-color;
        border: 1px solid $title-color;
        color: $white-color;
        font-size: 18px;

        &:hover {
            background-color: $theme-color;
            border-color: $theme-color;
        }
    }

    .header-links {
        &.style2 {
            @include md {
                display: none;
            }

            li {
                @include lg {
                    &:nth-child(2) {
                        &:after {
                            display: none;
                        }
                    }
                }

                &:last-child {
                    @include lg {
                        display: none;

                        &:after {
                            display: none;
                        }
                    }
                }
            }
        }

        li {
            font-weight: 300;

            &:not(:last-child) {
                margin: 0 60px 0 0;

                &:after {
                    content: '';
                    height: 46px;
                    width: 1px;
                    background-color: rgba(255, 255, 255, 0.3);
                    position: absolute;
                    top: -6px;
                    right: -30px;

                }

                a {
                    &:hover {
                        color: $title-color;
                    }
                }
            }


        }
    }

    .menu-area {
        position: relative;
        background-color: #10131C;
        z-index: 2;

        &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 33.6%;
            height: 100px;
            background-color: #1F2432;
            clip-path: polygon(7% 0, 100% 0, 100% 100%, 0% 100%);
            z-index: -1;

            @include xxl {
                width: 30%;
            }

            @media(max-width: 1399px) {
                width: 25%;
            }

            @include md {
                height: 80px;
            }
        }
    }

    .main-menu>ul>li>a {
        padding: 36.5px 0;
        color: $white-color;

        &:hover {
            color: $theme-color;
        }

    }

    .main-menu ul li.menu-item-has-children>a {
        &:after {
            color: $white-color;


        }

        &:hover {
            &:after {
                color: $theme-color;
            }
        }
    }


}

@media (min-width: 1300px) {
    .header-layout9 {
        .th-container {
            --main-container: 1520px;
        }
    }
}

.header-layout10 {
    .sticky-wrapper.sticky {
        .header-logo {
            padding: 0;
        }

        .menu-area {
            @include md {
                padding: 20px 0;
            }
        }
    }

    .main-menu>ul>li>a {
        padding: 50px 0;
    }

    .header-button {
        .icon-btn {
            --btn-size: 56px;
            background-color: $title-color;

            @include md {
                color: $white-color;
            }

            &:hover {
                background-color: $theme-color;
            }
        }
    }
}

.header-layout12 {
    .header-top .container {
        padding-left: 0px;
    }

    .menu-area {
        &:before {
            right: 0;
            width: 100%;
            height: 90px;
            border-radius: 0;
        }
    }
}

.header-layout4 {
    &:before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: #010F34;
        z-index: -1;
        max-width: 73.6%;
        margin-left: auto;
        display: block;
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 6% 100%);

        @media(min-width: 1930px) {
            max-width: 80%;
            clip-path: polygon(0 0, 100% 0%, 100% 100%, 4% 100%);
        }

        @include sm {
            max-width: 100%;
            clip-path: none;
        }
    }

    .sticky-wrapper.sticky {
        .header-logo {
            padding: 0;
        }

        .menu-area {
            @include md {
                padding: 20px 0;
            }
        }
    }

    .menu-area {
       // padding: 10px 0;
    }


    .th-container4 {
        @media(min-width: 1930px) {
            max-width: 1890px;
        }
    }

    .sticky-wrapper.sticky {
        background-color: $title-color;


    }

    .menu-area {
        position: relative;
        z-index: 2;

        @include sm {
            padding: 20px 0;

            .header-logo {
                padding-top: 0;
            }

        }
    }

    .main-menu>ul>li>a {
        padding: 36.5px 0;
        color: $white-color;
    }

    .main-menu ul li.menu-item-has-children>a:after {
        color: $white-color;
    }

    .header-button .icon-btn {
        background-color: $white-color;

        &:hover {
            background-color: $theme-color;
        }
    }
}