/* Pricing 1 ---------------------------------- */
.available-list {

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    li {
        position: relative;
        font-family: $body-font;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        padding-left: 30px;
        margin-bottom: 10px;
        text-transform: capitalize;
        color: $body-color;

        &:after {
            content: "\f560";
            font-family: var(--icon-font);
            font-weight: 600;
            color: var(--theme-color);
            font-size: 1.1em;
            position: absolute;
            top: 1px;
            left: 0;
        }

        &.unavailable {
            &:after {
                content: "\f560";
                right: 4px;
                color: #D8DDE1;
            }
        }

        img {
            max-width: 18px;
            margin-right: 10px;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &.unavailable {
            font-weight: 400;
            color: #D8DDE1;

            img {
                opacity: 0.2;
            }
        }
    }
}

/* Pricing card  Start -----------------------------*/
.price-card {
    position: relative;
    background: $white-color;
    padding: 40px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    margin-top: 10px;

    @include xl {
        padding: 40px 20px;
    }

    @include md {
        padding: 30px;
    }

    @include vxs {
        padding: 25px;
    }

    &-wrapp {
        display: flex;
        margin-bottom: 40px;

        @include md {
            margin-bottom: 60px;
        }
    }

    .price-border {
        position: absolute;
        background-color: $theme-color;
        width: 256px;
        height: 4px;
        top: 96px;
        right: 40px;

        @media(max-width: 1399px) {
            width: 267px;
        }

        @include xl {
            width: 226px;
            right: 60px;
        }

        @include lg {
            width: 71.4%;
        }

        @media(max-width: 768px) {
            width: 61%;
        }

        @include sm {
            width: 75%;
        }

        @include xs {
            width: 76.5%;
        }
    }

    &_content {
        min-width: 120px;
    }

    &_price {
        position: absolute;
        top: 0;
        left: 40px;
        width: 100px;
        height: 100px;
        font-size: 36px;
        line-height: 46px;
        font-weight: 700;
        text-align: center;
        padding: 10px 0;
        color: $white-color;
        background-color: $theme-color;
        clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);

        @include xl {
            left: 20px;
        }

        z-index: 2;

        .currency {
            font-size: 16px;
            position: absolute;
            top: 0px;
            left: 10px;
            right: auto;
        }

        .duration {
            font-size: 18px;
            font-weight: 500;
            position: absolute;
            bottom: 15px;
            left: 15px;
        }
    }

    .box-title {
        @include vxs {
            font-size: 16px;
        }
    }
}

/* Pricing card  End -----------------------------*/
.price-title-wrapper {
    max-width: 660px;
    display: block;
    margin: 0 auto;
}

.price-card2 {
    background: #FFFFFF;
    border: 1px solid #D8DDE1;
    border-radius: 10px;
    padding: 40px;

    @include lg {
        padding: 30px 20px;
    }

    .price-wrapp {
        display: flex;

        @include vxs {
            flex-direction: column;
        }
    }

    .tag {
        padding: 12px 20px;
        background: #E6F2FE;
        border-radius: 12px;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #010F34;
        display: block;
        margin-bottom: 40px;
        text-align: center;
    }

    .box-price {
        font-weight: 800;
        font-size: 64px;
        color: #000000;
        margin-bottom: 0;

        @include xl {
            font-size: 44px;
        }

        @include lg {
            font-size: 34px;
        }
    }

    .duration {
        display: block;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        color: #545454;
        margin-top: 35px;
    }

    .price-border {
        background-color: rgba(228, 228, 228, 0.8);
        width: 1px;
        height: 200px;
        margin: 0 45px;

        @include xl {
            margin: 0 30px;
        }

        @include lg {
            margin: 0 12px;
            background-color: transparent;
        }

        @include vxs {
            display: none;
        }

    }

    .available-list {
        li {
            margin-bottom: 15px;

            &:after {
                content: "\f058";
            }

            &.unavailable {
                font-weight: 400;
                color: #788094;

                &:after {
                    color: #788094;
                }
            }
        }
    }

    .th-btn {
        background-color: #E6F2FE;
        color: #010F34;
    }

    &.active {
        .tag {
            background: $theme-color;
            color: $white-color;
        }

        .th-btn {
            background-color: $theme-color;
            color: $white-color;
        }
    }
}