/* about area ------------------- */
.about-sec {
    padding-top: 80px !important;

    @include xs {
        padding-top: 0px !important;
    }
}

.img-box9 {
    .img1 {
        min-width: 619px;

        @include lg {
            margin-top: 50px;
        }

        @include sm {
            min-width: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    }
}

.img-box10 {
    position: relative;

    @include sm {
        margin-bottom: 50px;
    }

    .img1 {
        border-radius: 20px;

        img {
            margin: 100px 0;
            border-radius: 20px;
        }
    }

    .img2 {
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 20px;

        img {
            border-radius: 20px;
        }
    }

    .img3 {
        position: absolute;
        bottom: 0;
        right: 60px;
        border-radius: 20px;

        img {
            border-radius: 20px;
        }
    }

    .th-experience {
        &.style3 {
            position: absolute;
            top: 50%;
            left: 55%;
            width: 190px;
            height: 190px;
            line-height: 190px;
            border-radius: 50%;
            text-align: center;
            padding: 24px 20px;
            background-color: $theme-color;
            border: 20px solid $white-color;
            transform: translate(-50%, -50%);

            .experience-year {
                font-family: $title-font;
                font-weight: 700;
                font-size: 48px;
                line-height: 48px;
                color: $white-color;
            }

            .experience-text {
                font-family: $body-font;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                text-transform: uppercase;
                color: $white-color;
            }
        }
    }
}

.img-box14 {
    position: relative;
    z-index: 2;

    .img1 {
        position: relative;
        display: block;
        margin-left: auto;
        max-width: 360px;
        z-index: 2;

        @include lg {
            margin-right: 45px;
        }

        img {
            border-radius: 12px;
        }
    }

    .shape {
        content: "";
        position: absolute;
        top: -20px;
        right: 25px;
        width: 219px;
        height: 176px;
        border-width: 10px 10px 0px 0px;
        border-style: solid;
        border-color: $theme-color;
        border-radius: 0px 12px 0px 0px;
    }

    .img2 {
        max-width: 306px;
        position: absolute;
        left: 0;
        bottom: 0;

        @media(max-width: 480px) {
            position: relative;
            margin: 30px 0;
        }
        

        img {
            border-radius: 8px;
        }
    }

    .th-experience {
        background: #007CFB;
        border-radius: 8px;
        padding: 30px 22px;
        max-width: 203px;
        display: block;
        margin-left: auto;
        text-align: center;
        margin-top: 14px;

        @include xl {
            max-width: 180px;
        }

        @media(max-width: 480px) {
            margin: 0;
        }

        .experience-year {
            font-weight: 600;
            font-size: 64px;
            line-height: 74px;
            color: #FFFFFF;
            margin-bottom: 0;
        }

        .experience-text {
            font-weight: 500;
            font-size: 18px;
            line-height: 28px;
            color: #FFFFFF;
            margin-bottom: 0;

        }
    }
}



.achive-about {
    &-wrap {
        &.style2 {
            gap: 53px;

            @include xl {
                gap: 30px;
            }
        }
    }

    &.style2 {
        display: block;
        max-width: 235px;

        @include xs {
            max-width: 100%;
        }

        .achive-about {
            &_content {
                display: flex;
                align-items: center;
                gap: 20px;
                margin-bottom: 15px;
            }

            &_icon {
                min-width: 60px;
            }
        }

        .box-title {
            font-size: 20px;
            line-height: 30px;
            font-weight: 500;
        }
    }
}

// about 11 
.img-box12 {
    @include lg {
        margin-bottom: 40px;
    }

    .img1 {
        img {
            width: 100%;
            border-radius: 20px;
        }
    }
}

.about-blockquote {
    &.style2 {
        font-size: 18px;
        color: $title-color;
    }
}

.feature-wrapper {
    &.style5 {
        .header-info_label {
            font-size: 16px;
        }

        .header-info_link {
            font-size: 24px;
        }
    }
}